@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/*Screen*/
.screen{
    display: grid;
    height: 89%;
    width: 90%;
    place-self: center;
    place-items: center;
    border-radius: 5%;
    box-shadow: inset 10px 10px 50px black;
    background-color: black;
    grid-template-rows: 20% 60% 20%;
    overflow: hidden;
}

div{
    font-family: 'VT323', monospace;
    color: green;
    font-size: 20px;
}

.logo{
    width: 70px;
    height: 70px;
}
/*First Row*/
.first-row{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 20% 80%;
    text-align: center;
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    background-color: black;
}

.element{
    border: 1px dotted green;
    border-right: none;
    place-self: center;
    height: 100%;
    width: 100%;
    z-index: 10;
}
#gitButton{
    grid-row-start: 2;
}

#linkButton{
    grid-column-start: 2;
    grid-row-start: 2;
}

#discButton{
    grid-row-start: 2;
    grid-column-start: 3;
}

#IgButton{
    grid-row-start: 2;
    grid-column-start: 4;
}

.rowBtn{
    background-color: black;
    border: 1px dotted green;
    border-top: none;
    &:hover{
        cursor: pointer;
    }
    
}
/*End of First Row*/




/*Introduction to screen Page*/
.intro{
    display: grid;
    place-items: center;
    width: 380px;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 30px;
    width: 100%;
    height: 100%;
}


@keyframes typing {
    from {
        width: 0
    }
}


/*End of Introduction*/



/*Last Screen row*/
.last-row-container{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: 100%;
    width: 100%;
    border: 1px dotted green;
    
    .last-row-btn{
        background-color: black;
        border-top: none;
        border: none;
        &:hover{
            cursor: pointer;
        }
    }
    
    .header{
        text-align: center;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: -1;
        border-bottom: 1px dotted green;
        width: 100%;
    }
    
    .proyect-container{
        display: grid;
        place-items: center;
        grid-template-rows: 20% 80% ;
        grid-template-columns: 50% 50%;
        border: 1px dotted green;
        
    }
}

.content{
    height: 100%;
    width: 100%;
}
iframe{
    position: relative;
    height: 100%;
    width: 100%;
}

/*End of last screen row*/



/*End of Screen*/